{% extends "base.html" %}

{% block titulo_pagina %}
    <h2 class="titulo_pagina">Cadastro de Categorias</h2>
{% endblock %}  

{% block conteudo %}

    <div style="margin-left: 5px;">
        <a class="btn medium" href="{% url 'categoria_incluir'%}">Incluir</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for reg in registros %}
            <tr>
                <td class="id">{{ reg.0 }}</td>
                <td>{{ reg.1 }}</td>
                <td>
                    <a class="btn small" href="{% url 'categoria_alterar' reg.0 %}">Alterar</a>
                    
                    <a class="btn-del small" href="{% url 'categoria_excluir' reg.0 %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


