{% extends "base.html" %}

{% block titulo_pagina %}
    <h2 class="titulo_pagina">Cadastro de Produtos</h2>
{% endblock %}  

{% block conteudo %}

    <div style="margin-left: 5px;">
        <a class="btn medium" href="{% url 'produto_incluir' %}">Incluir</a>
    </div>

    <table>
        <thead>
            <tr>
                <th class="id">ID</th>
                <th>Produto</th>
                <th>Preço Unitário</th>
                <th>Estoque</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for reg in registros %}
            <tr>
                <td>{{ reg.0 }}</td>
                <td>{{ reg.1 }}</td>
                <td>{{ reg.2 }}</td>
                <td>{{ reg.3|default_if_none:'' }}</td>
                <td>{{ reg.5 }}</td>
                <td>
                    <a class="btn small" href="{% url 'produto_alterar' reg.0 %}">Alterar</a>
                    
                    <a class="btn-del small" href="{% url 'produto_excluir' reg.0 %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}